# Files and directories created by pub.
.dart_tool/
.packages

# Conventional directory for build output.
build/
volumes/mysql/ca.pem
volumes/mysql/client-cert.pem
volumes/mysql/client-key.pem
volumes/mysql/ib_buffer_pool
volumes/mysql/ib_logfile0
volumes/mysql/ca-key.pem
volumes/mysql/auto.cnf
volumes/mysql/ibdata1
volumes/mysql/ibtmp1
volumes/mysql/mysql.sock
volumes/mysql/private_key.pem
volumes/mysql/public_key.pem
volumes/mysql/server-cert.pem
volumes/mysql/server-key.pem
volumes/mysql/dart_docker/db.opt
volumes/mysql/dart_docker/noticias.frm
volumes/mysql/dart_docker/noticias.ibd
volumes/mysql/dart_docker/usuarios.frm
volumes/mysql/dart_docker/usuarios.ibd
volumes/mysql/mysql/columns_priv.frm
volumes/mysql/ib_logfile1
volumes/mysql/mysql/columns_priv.MYD
volumes/mysql/mysql/columns_priv.MYI
volumes/mysql/mysql/db.frm
volumes/mysql/mysql/db.MYD
volumes/mysql/mysql/db.MYI
volumes/mysql/mysql/db.opt
volumes/mysql/mysql/engine_cost.frm
volumes/mysql/mysql/engine_cost.ibd
volumes/mysql/mysql/event.frm
volumes/mysql/mysql/event.MYD
volumes/mysql/mysql/event.MYI
volumes/mysql/mysql/func.frm
volumes/mysql/mysql/func.MYD
volumes/mysql/mysql/func.MYI
volumes/mysql/mysql/general_log.CSM
volumes/mysql/mysql/general_log.CSV
volumes/mysql/mysql/general_log.frm
volumes/mysql/mysql/gtid_executed.frm
volumes/mysql/mysql/gtid_executed.ibd
volumes/mysql/mysql/help_category.frm
volumes/mysql/mysql/help_category.ibd
volumes/mysql/mysql/help_keyword.frm
volumes/mysql/mysql/help_keyword.ibd
volumes/mysql/mysql/help_relation.frm
volumes/mysql/mysql/help_relation.ibd
volumes/mysql/mysql/help_topic.frm
volumes/mysql/mysql/help_topic.ibd
volumes/mysql/mysql/innodb_index_stats.frm
volumes/mysql/mysql/innodb_index_stats.ibd
volumes/mysql/mysql/innodb_table_stats.frm
volumes/mysql/mysql/innodb_table_stats.ibd
volumes/mysql/mysql/ndb_binlog_index.frm
volumes/mysql/mysql/ndb_binlog_index.MYD
volumes/mysql/mysql/ndb_binlog_index.MYI
volumes/mysql/mysql/plugin.frm
volumes/mysql/mysql/plugin.ibd
volumes/mysql/mysql/proc.frm
volumes/mysql/mysql/proc.MYD
volumes/mysql/mysql/proc.MYI
volumes/mysql/mysql/procs_priv.frm
volumes/mysql/mysql/procs_priv.MYD
volumes/mysql/mysql/procs_priv.MYI
volumes/mysql/mysql/proxies_priv.frm
volumes/mysql/mysql/proxies_priv.MYD
volumes/mysql/mysql/proxies_priv.MYI
volumes/mysql/mysql/server_cost.frm
volumes/mysql/mysql/server_cost.ibd
volumes/mysql/mysql/servers.frm
volumes/mysql/mysql/servers.ibd
volumes/mysql/mysql/slave_master_info.frm
volumes/mysql/mysql/slave_master_info.ibd
volumes/mysql/mysql/slave_relay_log_info.frm
volumes/mysql/mysql/slave_relay_log_info.ibd
volumes/mysql/mysql/slave_worker_info.frm
volumes/mysql/mysql/slave_worker_info.ibd
volumes/mysql/mysql/slow_log.CSM
volumes/mysql/mysql/slow_log.CSV
volumes/mysql/mysql/slow_log.frm
volumes/mysql/mysql/tables_priv.frm
volumes/mysql/mysql/tables_priv.MYD
volumes/mysql/mysql/tables_priv.MYI
volumes/mysql/mysql/time_zone_leap_second.frm
volumes/mysql/mysql/time_zone_leap_second.ibd
volumes/mysql/mysql/time_zone_name.frm
volumes/mysql/mysql/time_zone_name.ibd
volumes/mysql/mysql/time_zone_transition_type.frm
volumes/mysql/mysql/time_zone_transition_type.ibd
volumes/mysql/mysql/time_zone_transition.frm
volumes/mysql/mysql/time_zone_transition.ibd
volumes/mysql/mysql/time_zone.frm
volumes/mysql/mysql/time_zone.ibd
volumes/mysql/mysql/user.frm
volumes/mysql/mysql/user.MYD
volumes/mysql/mysql/user.MYI
volumes/mysql/performance_schema/accounts.frm
volumes/mysql/performance_schema/cond_instances.frm
volumes/mysql/performance_schema/db.opt
volumes/mysql/performance_schema/events_stages_current.frm
volumes/mysql/performance_schema/events_stages_history_long.frm
volumes/mysql/performance_schema/events_stages_history.frm
volumes/mysql/performance_schema/events_stages_summary_by_account_by_event_name.frm
volumes/mysql/performance_schema/events_stages_summary_by_host_by_event_name.frm
volumes/mysql/performance_schema/events_stages_summary_by_thread_by_event_name.frm
volumes/mysql/performance_schema/events_stages_summary_by_user_by_event_name.frm
volumes/mysql/performance_schema/events_stages_summary_global_by_event_name.frm
volumes/mysql/performance_schema/events_statements_current.frm
volumes/mysql/performance_schema/events_statements_history_long.frm
volumes/mysql/performance_schema/events_statements_history.frm
volumes/mysql/performance_schema/events_statements_summary_by_account_by_event_name.frm
volumes/mysql/performance_schema/events_statements_summary_by_digest.frm
volumes/mysql/performance_schema/events_statements_summary_by_host_by_event_name.frm
volumes/mysql/performance_schema/events_statements_summary_by_program.frm
volumes/mysql/performance_schema/events_statements_summary_by_thread_by_event_name.frm
volumes/mysql/performance_schema/events_statements_summary_by_user_by_event_name.frm
volumes/mysql/performance_schema/events_statements_summary_global_by_event_name.frm
volumes/mysql/performance_schema/events_transactions_current.frm
volumes/mysql/performance_schema/events_transactions_history_long.frm
volumes/mysql/performance_schema/events_transactions_history.frm
volumes/mysql/performance_schema/events_transactions_summary_by_account_by_event_name.frm
volumes/mysql/performance_schema/events_transactions_summary_by_host_by_event_name.frm
volumes/mysql/performance_schema/events_transactions_summary_by_thread_by_event_name.frm
volumes/mysql/performance_schema/events_transactions_summary_by_user_by_event_name.frm
volumes/mysql/performance_schema/events_transactions_summary_global_by_event_name.frm
volumes/mysql/performance_schema/events_waits_current.frm
volumes/mysql/performance_schema/events_waits_history_long.frm
volumes/mysql/performance_schema/events_waits_history.frm
volumes/mysql/performance_schema/events_waits_summary_by_account_by_event_name.frm
volumes/mysql/performance_schema/events_waits_summary_by_host_by_event_name.frm
volumes/mysql/performance_schema/events_waits_summary_by_instance.frm
volumes/mysql/performance_schema/events_waits_summary_by_thread_by_event_name.frm
volumes/mysql/performance_schema/events_waits_summary_by_user_by_event_name.frm
volumes/mysql/performance_schema/events_waits_summary_global_by_event_name.frm
volumes/mysql/performance_schema/file_instances.frm
volumes/mysql/performance_schema/file_summary_by_event_name.frm
volumes/mysql/performance_schema/file_summary_by_instance.frm
volumes/mysql/performance_schema/global_status.frm
volumes/mysql/performance_schema/global_variables.frm
volumes/mysql/performance_schema/host_cache.frm
volumes/mysql/performance_schema/hosts.frm
volumes/mysql/performance_schema/memory_summary_by_account_by_event_name.frm
volumes/mysql/performance_schema/memory_summary_by_host_by_event_name.frm
volumes/mysql/performance_schema/memory_summary_by_thread_by_event_name.frm
volumes/mysql/performance_schema/memory_summary_by_user_by_event_name.frm
volumes/mysql/performance_schema/memory_summary_global_by_event_name.frm
volumes/mysql/performance_schema/metadata_locks.frm
volumes/mysql/performance_schema/mutex_instances.frm
volumes/mysql/performance_schema/objects_summary_global_by_type.frm
volumes/mysql/performance_schema/performance_timers.frm
volumes/mysql/performance_schema/prepared_statements_instances.frm
volumes/mysql/performance_schema/processlist.frm
volumes/mysql/performance_schema/replication_applier_configuration.frm
volumes/mysql/performance_schema/replication_applier_status_by_coordinator.frm
volumes/mysql/performance_schema/replication_applier_status_by_worker.frm
volumes/mysql/performance_schema/replication_applier_status.frm
volumes/mysql/performance_schema/replication_connection_configuration.frm
volumes/mysql/performance_schema/replication_connection_status.frm
volumes/mysql/performance_schema/replication_group_member_stats.frm
volumes/mysql/performance_schema/replication_group_members.frm
volumes/mysql/performance_schema/rwlock_instances.frm
volumes/mysql/performance_schema/session_account_connect_attrs.frm
volumes/mysql/performance_schema/session_connect_attrs.frm
volumes/mysql/performance_schema/session_status.frm
volumes/mysql/performance_schema/session_variables.frm
volumes/mysql/performance_schema/setup_actors.frm
volumes/mysql/performance_schema/setup_consumers.frm
volumes/mysql/performance_schema/setup_instruments.frm
volumes/mysql/performance_schema/setup_objects.frm
volumes/mysql/performance_schema/setup_timers.frm
volumes/mysql/performance_schema/socket_instances.frm
volumes/mysql/performance_schema/socket_summary_by_event_name.frm
volumes/mysql/performance_schema/socket_summary_by_instance.frm
volumes/mysql/performance_schema/status_by_account.frm
volumes/mysql/performance_schema/status_by_host.frm
volumes/mysql/performance_schema/status_by_thread.frm
volumes/mysql/performance_schema/status_by_user.frm
volumes/mysql/performance_schema/table_handles.frm
volumes/mysql/performance_schema/table_io_waits_summary_by_index_usage.frm
volumes/mysql/performance_schema/table_io_waits_summary_by_table.frm
volumes/mysql/performance_schema/table_lock_waits_summary_by_table.frm
volumes/mysql/performance_schema/threads.frm
volumes/mysql/performance_schema/user_variables_by_thread.frm
volumes/mysql/performance_schema/users.frm
volumes/mysql/performance_schema/variables_by_thread.frm
volumes/mysql/sys/db.opt
volumes/mysql/sys/host_summary_by_file_io_type.frm
volumes/mysql/sys/host_summary_by_file_io.frm
volumes/mysql/sys/host_summary_by_stages.frm
volumes/mysql/sys/host_summary_by_statement_latency.frm
volumes/mysql/sys/host_summary_by_statement_type.frm
volumes/mysql/sys/host_summary.frm
volumes/mysql/sys/innodb_buffer_stats_by_schema.frm
volumes/mysql/sys/innodb_buffer_stats_by_table.frm
volumes/mysql/sys/innodb_lock_waits.frm
volumes/mysql/sys/io_by_thread_by_latency.frm
volumes/mysql/sys/io_global_by_file_by_bytes.frm
volumes/mysql/sys/io_global_by_file_by_latency.frm
volumes/mysql/sys/io_global_by_wait_by_bytes.frm
volumes/mysql/sys/io_global_by_wait_by_latency.frm
volumes/mysql/sys/latest_file_io.frm
volumes/mysql/sys/memory_by_host_by_current_bytes.frm
volumes/mysql/sys/memory_by_thread_by_current_bytes.frm
volumes/mysql/sys/memory_by_user_by_current_bytes.frm
volumes/mysql/sys/memory_global_by_current_bytes.frm
volumes/mysql/sys/memory_global_total.frm
volumes/mysql/sys/metrics.frm
volumes/mysql/sys/processlist.frm
volumes/mysql/sys/ps_check_lost_instrumentation.frm
volumes/mysql/sys/schema_auto_increment_columns.frm
volumes/mysql/sys/schema_index_statistics.frm
volumes/mysql/sys/schema_object_overview.frm
volumes/mysql/sys/schema_redundant_indexes.frm
volumes/mysql/sys/schema_table_lock_waits.frm
volumes/mysql/sys/schema_table_statistics_with_buffer.frm
volumes/mysql/sys/schema_table_statistics.frm
volumes/mysql/sys/schema_tables_with_full_table_scans.frm
volumes/mysql/sys/schema_unused_indexes.frm
volumes/mysql/sys/session_ssl_status.frm
volumes/mysql/sys/session.frm
volumes/mysql/sys/statement_analysis.frm
volumes/mysql/sys/statements_with_errors_or_warnings.frm
volumes/mysql/sys/statements_with_full_table_scans.frm
volumes/mysql/sys/statements_with_runtimes_in_95th_percentile.frm
volumes/mysql/sys/statements_with_sorting.frm
volumes/mysql/sys/statements_with_temp_tables.frm
volumes/mysql/sys/sys_config_insert_set_user.TRN
volumes/mysql/sys/sys_config_update_set_user.TRN
volumes/mysql/sys/sys_config.frm
volumes/mysql/sys/sys_config.ibd
volumes/mysql/sys/sys_config.TRG
volumes/mysql/sys/user_summary_by_file_io_type.frm
volumes/mysql/sys/user_summary_by_file_io.frm
volumes/mysql/sys/user_summary_by_stages.frm
volumes/mysql/sys/user_summary_by_statement_latency.frm
volumes/mysql/sys/user_summary_by_statement_type.frm
volumes/mysql/sys/user_summary.frm
volumes/mysql/sys/version.frm
volumes/mysql/sys/wait_classes_global_by_avg_latency.frm
volumes/mysql/sys/wait_classes_global_by_latency.frm
volumes/mysql/sys/waits_by_host_by_latency.frm
volumes/mysql/sys/waits_by_user_by_latency.frm
volumes/mysql/sys/waits_global_by_latency.frm
volumes/mysql/sys/x@0024host_summary_by_file_io_type.frm
volumes/mysql/sys/x@0024host_summary_by_file_io.frm
volumes/mysql/sys/x@0024host_summary_by_stages.frm
volumes/mysql/sys/x@0024host_summary_by_statement_latency.frm
volumes/mysql/sys/x@0024host_summary_by_statement_type.frm
volumes/mysql/sys/x@0024host_summary.frm
volumes/mysql/sys/x@0024innodb_buffer_stats_by_schema.frm
volumes/mysql/sys/x@0024innodb_buffer_stats_by_table.frm
volumes/mysql/sys/x@0024innodb_lock_waits.frm
volumes/mysql/sys/x@0024io_by_thread_by_latency.frm
volumes/mysql/sys/x@0024io_global_by_file_by_bytes.frm
volumes/mysql/sys/x@0024io_global_by_file_by_latency.frm
volumes/mysql/sys/x@0024io_global_by_wait_by_bytes.frm
volumes/mysql/sys/x@0024io_global_by_wait_by_latency.frm
volumes/mysql/sys/x@0024latest_file_io.frm
volumes/mysql/sys/x@0024memory_by_host_by_current_bytes.frm
volumes/mysql/sys/x@0024memory_by_thread_by_current_bytes.frm
volumes/mysql/sys/x@0024memory_by_user_by_current_bytes.frm
volumes/mysql/sys/x@0024memory_global_by_current_bytes.frm
volumes/mysql/sys/x@0024memory_global_total.frm
volumes/mysql/sys/x@0024processlist.frm
volumes/mysql/sys/x@0024ps_digest_95th_percentile_by_avg_us.frm
volumes/mysql/sys/x@0024ps_digest_avg_latency_distribution.frm
volumes/mysql/sys/x@0024ps_schema_table_statistics_io.frm
volumes/mysql/sys/x@0024schema_flattened_keys.frm
volumes/mysql/sys/x@0024schema_index_statistics.frm
volumes/mysql/sys/x@0024schema_table_lock_waits.frm
volumes/mysql/sys/x@0024schema_table_statistics_with_buffer.frm
volumes/mysql/sys/x@0024schema_table_statistics.frm
volumes/mysql/sys/x@0024schema_tables_with_full_table_scans.frm
volumes/mysql/sys/x@0024session.frm
volumes/mysql/sys/x@0024statement_analysis.frm
volumes/mysql/sys/x@0024statements_with_errors_or_warnings.frm
volumes/mysql/sys/x@0024statements_with_full_table_scans.frm
volumes/mysql/sys/x@0024statements_with_runtimes_in_95th_percentile.frm
volumes/mysql/sys/x@0024statements_with_sorting.frm
volumes/mysql/sys/x@0024statements_with_temp_tables.frm
volumes/mysql/sys/x@0024user_summary_by_file_io_type.frm
volumes/mysql/sys/x@0024user_summary_by_file_io.frm
volumes/mysql/sys/x@0024user_summary_by_stages.frm
volumes/mysql/sys/x@0024user_summary_by_statement_latency.frm
volumes/mysql/sys/x@0024user_summary_by_statement_type.frm
volumes/mysql/sys/x@0024user_summary.frm
volumes/mysql/sys/x@0024wait_classes_global_by_avg_latency.frm
volumes/mysql/sys/x@0024wait_classes_global_by_latency.frm
volumes/mysql/sys/x@0024waits_by_host_by_latency.frm
volumes/mysql/sys/x@0024waits_by_user_by_latency.frm
volumes/mysql/sys/x@0024waits_global_by_latency.frm
pubspec.yaml
pubspec.lock

